@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i|Noto+Sans+TC:100,300,400,500,700,900|Noto+Serif+TC:200,300,400,500,600,700,900|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Quicksand:300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=chinese-traditional');

body{
background-color: rgb(42, 42, 42)
}

/* ////////////////////////////////////////////////////////////////body
end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////body
end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////body
end//////////////////////////////////////////////////////////// */

header {

display: block;
position: fixed;
top: 0px;
width: 100vw;
height: 75px;
z-index: 999;
margin: auto;
}
menu {
float: left;
display: block;
width: 40px;
height: 30px;
position: absolute;
left: 35px;
top: calc(50% - 15px);
}
.menu-content {
display: flex;
flex-direction: column;
justify-content: center;
position: absolute;
top: -23px;
left: calc(-100vw - 70px);
background-color: rgb(220, 220, 220);
width: 100vw;
height: 100vh;
z-index: 1;
transition: all 1s ease 0s;
}
.menu-contentArea {
position: absolute;
display: flex;
flex-direction: column;
justify-content: space-between;
left: calc(30% + 70px);
width: 40%;
height: 60%;
}

.menu-theme {
height: 70px;
display: flex;
flex-direction: row;
justify-content: flex-start;
transition: all 0.3s ease 0s;
}
.menu-theme:hover{
background-color: #16E9D8;
}
.menu-theme span {
align-self: center;
display: block;
width: 7px;
height: 45px;
background-color: rgb(42, 42, 42);
margin-left: 30px;
border-radius: 7px 0px;
transition: all 0.2s ease 0s;
}
.menu-theme:hover span{
transform: rotate(30deg);
}
.menu-theme a {
width: 30vw;
text-align: left;
line-height: 70px;
font-size: 60px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
color: rgb(42, 42, 42);
position: absolute;
right: 5vw;
text-decoration: none;
transition: all 1s ease 0s;
}
.menu-theme:hover a{
text-align: right;
right: 1vw;

}
.menu-btn {
width: 40px;
height: 30px;
color: rgb(42, 42, 42);
font-size: 20px;
position: absolute;
top: 0px;
left: 0px;
z-index: 2;
cursor: pointer;
}
.menu-btn .bar {
display: block;
width: 40px;
height: 4px;
border-radius: 0px 4px;
}
.bar:nth-child(1) {
position: absolute;
top: 0px;
transform: rotate(0deg);
background-color: rgb(220, 220, 220);
transition: transform 0.2s ease 0s, top 0.2s ease 0.4s, background-color 1s ease 0s;
}
.bar:nth-child(2) {
position: absolute;
opacity: 1;
visibility: visible;
top: calc(50% - 2px);
background-color: rgb(220, 220, 220);
transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s, background-color 1s ease 0s;
}
.bar:nth-child(3) {
position: absolute;
bottom: 0px;
background-color: rgb(220, 220, 220);
transition: transform 0.2s ease 0s, bottom 0.2s ease 0.4s, background-color 1s ease 0s;
}
.switch .bar:nth-child(1) {
top: calc(50% - 2px);
transform: rotate(45deg);
background-color: rgb(62, 58, 57);
transition: top 0.2s ease 0s, transform 0.2s ease 0.4s;
}
.switch .bar:nth-child(2) {
opacity: 0;
visibility: hidden;
background-color: rgb(62, 58, 57);
transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s;
}
.switch .bar:nth-child(3) {
bottom: calc(50% - 2px);
transform: rotate(-45deg);
background-color: rgb(62, 58, 57);
transition: bottom 0.2s ease 0s, transform 0.2s ease 0.4s;
}
.show {
position: absolute;
left: -155px;
}

/* ////////////////////////////////////////////////////////////////menu
end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////menu
end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////menu
end//////////////////////////////////////////////////////////// */

#home {
position: absolute;
left: calc(50% - 15px);
top: calc(50% - 21px);
width: 30px;
height: 42px;
background-image: url("../images/index//LOGO.svg");
background-size: 100%;
align-self: center;
background-repeat: no-repeat;
}
#home > a {
display: block;
width: 30px;
height: 42px;
}

/* ////////////////////////////////////////////////////////////////homeend//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////homeend//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////homeend//////////////////////////////////////////////////////////// */


#contact {
display: flex;
flex-direction: row;
justify-content: space-between;
position: absolute;
right: 25px;
top: calc(50% - 9px);
box-sizing: border-box;
}
#contact > p {
color: rgb(220, 220, 220);
font-size: 20px;
line-height: 18px;
text-align: center;
margin-right: 20px;
font-family: 'Roboto', sans-serif;
font-weight: 200;
letter-spacing: 2px;
}
#contact a {
display: block;
align-self: center;
width: 20px;
height: 20px;
/* background-color: rgb(42, 42, 42); */
margin-right: 20px;
border-radius: 50%;
background-repeat: no-repeat;
/* border-width: 1px;
border-style: solid;
border-color: rgb(220, 220, 220); */

}
#contact .fb-link{
    background-image: url("../images/index/index-fb.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#contact .fb-link:hover{
    background-image: url("../images/index/index-fbHover.svg");
    /* width: 24px;
    height: 24px; */
    transform: scale(1.3);
}
#contact .issuu-link{
    background-image: url("../images/index/index-issuu.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#contact .issuu-link:hover{
    background-image: url("../images/index/index-issuuHover.svg");
    /* width: 24px;
    height: 24px; */
    transform: scale(1.3);
}
#contact .ig-link{
    background-image: url("../images/index/index-ig.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#contact .ig-link:hover{
    background-image: url("../images/index/index-igHover.svg");
    /* width: 24px;
    height: 24px; */
    transform: scale(1.3);
}

#contact > a:last-child {
margin-right: 0px;
}

/* ////////////////////////////////////////////////////////////////contact
end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////contact
end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////contact
end//////////////////////////////////////////////////////////// */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    }
    .main-text {
        display: inline-block;
        color: rgb(62, 58, 57);
        font-size: 75px;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        writing-mode: vertical-lr;
        font-weight: 700;
        transition: all 1s ease 0s;
        }
    .main-left {
        width: calc(100vw / 7);
        position: fixed;
        top: 0px;
        left: 0px;
        flex-grow: 1;
        height: 100vh;
        /* background-color: rgb(40, 196, 136); */
    }
    .main-left > .main-text {
    position: absolute;
    top: 20vh;
    left: 25px;
    font-size: 75px;
    line-height: 75px;
    }
    .main-left > .main-decoration {
    position: absolute;
    bottom: 0px;
    left: 35px;
    display: block;
    width: 68px;
    height: 230px;
    overflow: hidden;
    }
    .main-left > .main-decoration > img {
    position: absolute;
    bottom: -150px;
    transition: all 1s ease 0s;
    transform: scaleY(1);
    }

/* ////////////////////////////////////////////////////////////////main-left end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////main-left end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////main-left end//////////////////////////////////////////////////////////// */
.main-mid {
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: calc(500vw / 7);
    height: 100vh;
    /* background-color: royalblue; */
    }

.main-mid h1{
    margin-top: 75px;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: rgb(62, 58, 57);
}
.sub_header{
    margin: auto;
    width: 60%;
    margin-top: 40px;
    background-color: rgb(62, 58, 57);
    border-radius: 25px;
}
.sub_nav{
    margin: auto;
    width: 100%;
    height: 50px;
    line-height: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.sub_nav li{
    /* background-color: royalblue; */
    text-align: center;
    width: calc(100% / 4);
    height: 50px;
    color:rgb(220, 220, 220);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: block;
}
.sub_nav li:hover{
    color: #16E9D8;
}
.sub_nav li::after{
    margin: auto;
    content: "";
    position: absolute;
    bottom: 10px;
    width: calc(100% /4);
    left: 50%;
    display: block;
    height: 1px;
    background-color: #16E9D8;
    transform: scaleX(0) translateX(-50%);
    transition: 0.5s;
}

.sub_nav li:nth-child(1):hover::after{
    width: 38px;
    transform: scaleX(1) translateX(-50%);
}
.sub_nav li:nth-child(2):hover::after{
    width: 110px;
    transform: scaleX(1) translateX(-50%);
}.sub_nav li:nth-child(3):hover::after{
    width: 90px;
    transform: scaleX(1) translateX(-50%);
}

.work-area{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: bisque; */
}
.works-category{
    width: calc(50% - 30px);
    /* background-color: #16E9D8; */
    height: 350px;
    margin: 20px 0px;
    position: relative;
}
.w-text{
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    margin-bottom: 20px;
    /* background-color: royalblue; */
}
.w-title{
    
    background-color: #16E9D8;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    color: rgb(42, 42, 42);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    border-radius: 20px;
}
.w-category{
    color: rgb(220, 220, 220);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* font-style: italic; */
    font-weight: 400;
    align-self: flex-end;
}
.work-area .works-category .w-img{
    overflow: hidden;
    height: 250px;
    width: 100%;
    border-radius: 5px;
   box-shadow: rgba(17, 17, 17,0.6) 1px 1px 5px 2px;
   transition: 0.5s;
}
.work-area .works-category .w-img .w-image{
   
    height: 250px;
    width: 100%;
    border-radius: 5px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   box-shadow: rgba(17, 17, 17,0.6) 1px 1px 5px 2px;
   transition: 0.5s;
}
.work-area .works-category .w-img .w-image a{
    letter-spacing: 2px;
    text-align: center;
    line-height: 250px;
    color: rgb(220, 220, 220);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    display: block;
    height: 250px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(17, 17, 17,0);
    transition: 0.5s;
    opacity: 0;
    text-decoration: none;
}
.work-area .works-category .w-img:hover .w-image a{
    opacity: 1;
    background-color: rgb(42, 42, 42,0.4);
}
.work-area .works-category .w-img:hover .w-image{
    transform: scale(1.1);
}
.work-area .works-category:nth-child(1) .w-img .w-image{
background-image: url("../images/carousel/carousel-logoDesign.png");
}
.work-area .works-category:nth-child(2) .w-img .w-image{
    background-image: url("../images/carousel/carousel-treata.png");
}
.work-area .works-category:nth-child(3) .w-img .w-image{
    background-image: url("../images/carousel/carousel-dressDesign.png");
}
.work-area .works-category:nth-child(4) .w-img .w-image{
    background-image: url("../images/carousel/carousel-oknife.png");
}
.work-area .works-category:nth-child(5) .w-img .w-image{
    background-image: url("../images/carousel/carousel-posterDesign.png");
 }
.work-area .works-category:nth-child(6) .w-img .w-image{
    background-image: url("../images/carousel/carousel-strucscrew.png");
}
.work-area .works-category:nth-child(7) .w-img .w-image{
    background-image: url("../images/carousel/carousel-bookDesign.png");
}
/* ////////////////////////////////////////////////////////////////main-mid end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////main-mid end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////main-mid end//////////////////////////////////////////////////////////// */

.main-right {
    position: fixed;
    top: 0px;
    right: 0px;
    width: calc(100vw / 7);
    height: 100vh;
    /* background-color: salmon; */
    }
    .main-right > .main-decoration {
    position: absolute;
    top: 0px;
    right: 35px;
    display: block;
    width: 68px;
    height: 230px;
    overflow: hidden;
    }
    .main-right > .main-decoration > img {
    position: absolute;
    top: -150px;
    transition: all 1s ease 0s;
    transform: scaleY(1);
    }
    .main-right > .main-text {
    position: absolute;
    bottom: 5%;
    right: 25px;
    line-height: 75px;
    font-size: 75px;
    }
    .main-right > .block {
    display: none;
    width: 105px;
    height: 70vh;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    }

/* ////////////////////////////////////////////////////////////////main-right end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////main-right end//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////main-right end//////////////////////////////////////////////////////////// */
.top-btn{
    /* background-color: rosybrown; */
    display: none;
    position: fixed;
    left: calc(50% - 25.5px);
    bottom:40px;
    width:50px;
    height: 50px;
    /* background-color: whitesmoke; */
}
.top-btn .top-bar1{
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0px;
   width: 30px;
   height: 4px;
   background-color: rgb(220, 220, 220);
   transition: 0.3s;
   border-radius: 0px 4px 0px 4px;
}


.top-btn:hover .top-bar1{
    transform: rotate(-45deg);
}
.top-btn .top-bar2{
    display: block;
    position: absolute;
   right: 0px;
   width: 30px;
   height: 4px;
   background-color: rgb(220, 220, 220);
   border-radius: 4px 0px 4px 0px;
   transition: 0.3s;
   top:50%;
   transform: translateY(-50%);
}
.top-btn:hover .top-bar2{
    transform: rotate(45deg);
}
.top-btn .top-bar3{
    display: block;
    position: absolute;
   left: 0px;
   width: 30px;
   height: 4px;
   background-color: rgb(220, 220, 220);
   border-radius: 0px 4px 0px 4px;
   transition: 0.3s;
   top:calc(50% + 15px);
   transform: translateY(-50%);
   opacity: 0;
}
.top-btn:hover .top-bar3{
    transform: rotate(-45deg);
    opacity: 1;
    animation: top-barUp 0.8s ease-out infinite;
}
.top-btn .top-bar4{
    display: block;
    position: absolute;
    top:calc(50% + 15px);
    transform: translateY(-50%);
    right:  0px;
   width: 30px;
   height: 4px;
   background-color: rgb(220, 220, 220);
   transition: 0.3s;
   border-radius: 4px 0px 4px 0px;
   opacity: 0;
}
.top-btn:hover .top-bar4{
    transform: rotate(45deg);
    opacity: 1;
    animation: top-barUp 0.8s ease-out infinite;
}
@keyframes top-barUp{
    from{
        top:calc(50% + 35px);
       
    }
    to{
        top:calc(50% + 15px);
        
    }
}
.top-btn p{
    position: absolute;
    width: 51px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(220, 220, 220);
    transition: 0.3s;
}
.top-btn:hover p{
    top: -15px;
}